.newsDetails-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.newsDetails-table td,
.newsDetails-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.newsDetails-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.newsDetails-table tr:hover {
  background-color: #ddd;
}

.newsDetails-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--orange);
  color: white;
}

span.newsItem-source-url {
  color: var(--grey);
  font-size: 0.9em;
  padding: 0 0.2em;
}

span.newsItem-author {
  font-size: 0.9em;
  padding: 0 0.2em;
}

span.newsItem-time {
  color: var(--grey);
  font-size: 0.9em;
  padding: 0 0.2em;
}

.newsItem-hide {
  cursor: pointer;
  padding: 0 0.2em;
  font-size: 0.9em;
}
.newsItem-hide:hover {
  text-decoration: underline;
}

.newsItem-voteUp-td {
  text-align: center;
}
.newsItem-voteUp-button {
  background-image: url("../../images/triangle-fill.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
}
